html,
body {
  background-color: white;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.home {
  width: 100%;
  height: 100vh;
  margin-top: 50px;
  display: flex;
  align-items: left;
  flex-direction: column;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black !important;
}

.home-title {
  padding-top: 200px;
}
.NavBar {
  z-index: 1000;
}

.navbar-right {
  display: flex;
  float: right;
  position: absolute;
  right: 30px;
}

.results-header {
  display: flex;
  position: relative;
  flex-direction: row;
  height: 85vh;
  width: 100%;
  padding-right: -600px;
  /* background-color: green; */
}

.results-sidebar {
  display: flex;
  z-index: 100;
  position: fixed;
  flex-direction: column;
  width: 150px;
  color: white;
  background-color: white;
}

.sidebar-home {
  display: flex;
  z-index: 10;
  position: absolute;
  color: white;
  flex-direction: row;
  height: 20%;
  width: 150px;
  height: 100vh;
  background-color: #add8e6;
}

.sidebar-nutrition {
  display: flex;
  position: absolute;
  z-index: 10;
  top: 70px;
  flex-direction: column;
  width: 150px;
  background-color: green;
}

.side-bar-text {
  display: flex;
  position: relative;
  flex-direction: row;
  height: 70%;
  width: 100%;
  background-color: #add8e6;
}

.sidebar-training {
  display: flex;
  position: absolute;
  z-index: 10;
  flex-direction: column;
  top: 300px;
  width: 150px;
  height: 100vh;
  background-color: #add8e6;
}

.side-bar-training-title {
  display: flex;
  position: relative;
  flex-direction: row;
  height: 30%;
  width: 150px;
  background-color: #add8e6;
}

.side-bar-training-text {
  display: flex;
  position: absolute;
  flex-direction: row;
  top: 80px;
  height: 70%;
  width: 150px;

  background-color: #add8e6;
}

.results-main {
  background-color: white;
  height: 150%;
  width: 90%;
  padding-left: 20%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* background-color: orange; */

  /* background-color: greenyellow; */
}
.nutrition-report {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-left: 7%;
  width: 81.4%;
  height: 150vh;
  background-color: #f6f2f2;

  /* background-color: orange; */

  /* background-color: greenyellow; */
}

.results-main-top {
  display: flex;
  flex-direction: row;
  position: relative;
  height: 400px;
  width: 100%;
}

.results-top-logo {
  display: flex;
  flex-direction: row;
  position: absolute;

  height: 100%;
  width: 100%;
}

.logo-image {
  height: auto;
  width: 100%;
  object-fit: cover;
}

.results-title {
  display: inline-flex;
  flex-direction: row;
  position: absolute;
  left: 5%;
  top: 120px;

  width: 100%;
  /* background-color: yellow; */
}

.results-title-title {
  display: flex;
  z-index: 100;
  flex-direction: row;

  letter-spacing: 5px;
  font-family: "Times New Roman", Times, serif;
  font-size: 70px;
  height: 20%;
  width: 100%;
}

.results-title-subtitle {
  display: inline-block;
  width: 100%;
  letter-spacing: 5px;
  font-family: "Times New Roman", Times, serif;
  font-size: 35px;
  margin-bottom: -80px;
}
.results-main-bottom {
  display: flex;
  position: relative;
  flex-direction: row;
  height: 50vh;
}

.results-button-1 {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  right: 10%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  height: 50px;
  border-radius: 5px;
  width: 35%;

  background-color: #f6f2f2 !important;
  border: none;

  /* background-color: yellow; */
}

.results-button-2 {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 10%;
  height: 50px;
  width: 35%;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: #f6f2f2 !important;
  border: none;

  /* background-color: green; */
}

.results-button-3 {
  border: none;
  display: flex;
  flex-direction: column;
  height: 50px;
  text-align: center;
  padding-top: -20%;
  margin-left: 10%;
  width: 80%;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: #f6f2f2 !important;

  /* background-color: red; */
}

.results-button-1:hover {
  display: flex;
  cursor: pointer;
  flex-direction: column;

  background-color: white !important;

  /* background-color: red; */
}
.results-button-2:hover {
  display: flex;
  cursor: pointer;

  flex-direction: column;

  background-color: white !important;

  /* background-color: red; */
}
.results-button-3:hover {
  display: flex;
  cursor: pointer;
  flex-direction: column;

  background-color: white !important;

  /* background-color: red; */
}

.results-button-title {
  color: black;
  display: flex;
  flex-direction: row;
  margin-left: 20px;
  margin-top: 10px;
  align-self: center;
  letter-spacing: 2px;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
}
.results-button-3-title {
  color: black;
  display: flex;

  letter-spacing: 2px;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  margin-left: 100px;
  margin-top: 10px;
}

.menu {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.menu .menuTitle {
  font-family: cursive;
  font-size: 60px;
}
.menuTitleNutrition {
  font-family: cursive;
  padding: 50px 0 50px 150px;
  margin-top: 0px;
  width: 50vw;
  font-size: 40px;
  background-color: #f6f2f2;
}

.menuTitleTraining {
  font-family: cursive;
  padding: 50px 0 50px 200px;
  margin-top: 0px;
  width: 50vw;
  font-size: 40px;
  background-color: #f6f2f2;
}

.menuList {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
}

/* MENU ITEM STYLING */

.menuItem {
  border-radius: 15px;
  display: block;
  height: auto;
  text-align: center;
}

.menuItem:hover {
  transition: 0.3s ease-in;
  cursor: pointer;
}

.menuItem div {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 100%;
  height: 200px;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.report-container {
  margin-left: 10%;
  height: 120%;
  margin-right: -15%;
  width: 85%;
  display: block;
}

.single-report-page {
  height: auto;
  min-height: 100% !important;
  background-color: lightblue;
}

.report-page {
  height: 100%;
  width: 90%;
  padding-left: 20%;

  display: flex;

  flex-direction: column;
  align-self: center;
}

.report-title-text {
  background-color: #f6f2f2;
  border-top: 6px solid white;
  width: 59.5%;
  margin-bottom: 30px;
  position: absolute;
  text-align: center;
  letter-spacing: 3px;

  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 30px;
}

.report-description {
  width: 80%;
  height: 20%;
  display: flex;
  flex-direction: row;
  padding-top: 30%;
  margin-left: 10%;
}

.report-description-text {
  width: 100%;

  height: 20%;
  flex-direction: row;
  margin-bottom: 10%;
  margin-top: 10%;
}

.report-table {
  background-color: transparent;
  width: 98%;
  z-index: 100;

  padding: 0 0 0 20px;
}

table,
td {
  border: 1px solid black;
}

th {
  border-right: transparent 1px solid;
  border-left: transparent 1px solid;
  border-top: transparent 1px solid;
}

table {
  border-spacing: 5px;
  border-collapse: collapse;
}

.report-outcome-title {
  background-color: #78c7d2;
  height: 10%;
  width: 100%;
  display: flex;
  flex-direction: row;
  position: absolute;
  padding: 15px;
}

.report-outcome-title-text {
  background-color: red;
  height: 100%;
  width: 80%;
  display: flex;
  flex-direction: row;
  position: absolute;
  left: 200px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

.report-outcome-text {
  background-color: orange;
  height: 20%;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 15px;
}

.textoutline {
  color: white;
  text-shadow: 1px 0 0 black, 0 -1px 0 rgb(0, 0, 0), 0 1px 0 rgb(0, 0, 0),
    -1px 0 0 rgb(0, 0, 0);
}

.side-bar-styles {
  list-style: none;
  margin-top: 1px;
}

.donut-card {
  position: relative;
}

.location {
  position: absolute;
  z-index: 10;
  left: 25%;
  top: 20%;
}

.background-donut {
  z-index: 0;
  position: absolute;
  left: 25%;
  top: 20%;
}

.low {
  position: absolute;
  right: 3%;
  top: 50%;
}
.medium {
  position: absolute;
  left: 50%;
  bottom: -8%;
  transform: translate(-50%);
}
.high {
  position: absolute;
  top: 50%;
  left: 5%;
}

.YNR {
  background-color: white;
}

.Mol {
  position: absolute;
  right: 100px;
  margin-left: 30px;
  width: 150px;
}

.D3 {
  position: absolute;
  right: 250px;
  top: 0;
  margin-left: 30px;
  width: 200px;
}

.footer {
  z-index: 100;
}

.draws-box {
  background-color: #07bfe8;
  z-index: 10;
  margin-top: -15px;
}

.response {
  z-index: 100000;
  width: 100vw;
  position: fixed;
}

.side-bar-title {
  color: white;
  margin-top: -10px;
  font-size: 40px;
  text-align: center;
  background-color: #add8e6;
}

.side-bar-sub-heading {
  color: white;
  margin-left: 15px;
}

.side-bar-li {
  font-family: "EB Garamond", serif;
  font-size: 20px;
  color: white;
}

.table-c1 {
  border-right: transparent 1px solid;
  border-left: transparent 1px solid;
  padding-right: 10px;
  table-layout: fixed;
  width: 17%;
}

.report-title-photo {
  width: 80px;
  position: absolute;
  left: 5%;
  bottom: -6px;
}

.donut-card-report {
  width: 50px;
  height: 100px;
  position: absolute;
  right: 50%;
  top: 100%;
}

.menuItem-report {
  width: 20px;
}

.level-report {
  font-size: 15px;
  position: absolute;
  right: 80%;
  top: 20%;
}

.title-report {
  width: 80%;
}

.report-meaning {
  width: 110%;
  padding: 50px 5% 10% 5%;
  margin-left: -5%;
  border-bottom: 10px solid white;
}

.report-donut-chart {
  margin-left: 14%;
}

.MenuItemName {
  text-align: center;
  padding: 10px 100px 0 100px;
}

.HC {
  position: absolute;
  width: 200px;
  top: 10px;
  right: 5px;
}

.intro {
  font-size: 20px;
  margin: 0 30px 30px 30px;
}

.introTitle {
  margin-left: 30px;
}

.login {
  background-color: white;
  height: 100vh;
  margin-top: 10%;
}

.register {
  background-color: white;
  height: 100vh;
  margin-top: 10%;
}

.MuiBox-root.css-10m0cap {
  background-color: black;
}

.survey {
  margin-top: 5%;
}

.survey-title {
  padding-top: 50px;
}
